footer {
    p {
        font-family: $copyFont;
        color: $mainColour;
        opacity: .5;
        padding: 0 20px;
        flex-grow: 1;
        flex-shrink: 1;
    }
    a {
        font-family: $copyFont;
        color: $mainColour;
        opacity: .5;
        // padding: 0 20px;
        flex-grow: 1;
        flex-shrink: 1;

    }
}

.family {
 margin-bottom: 50px;
    fill: $mainColour;
    stroke: $mainColour;
    opacity: .7;
}

.line {
    height: 1px;
    background-color: $mainColour;
    opacity: .5;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}


.footerflex {
    display: flex;
    justify-content: space-between;
    
}

.smallfamily {
    fill: $mainColour;
    stroke: $mainColour;
    opacity: .7;
    padding-top: 5px;
    display: none;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 280px;
    position: relative;
    z-index: -1;
}

.flip {
    display: flex;
    width: 70%;
    justify-content: space-between;
    text-align: right;
    justify-content: flex-end;
}


@media (max-width: 620px) {
    .footerflex{
        flex-direction: column;
        flex-direction: column-reverse;
        text-align: center;
    }
    .flip {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
}