

header {
    margin: 0 auto;
    position: relative;
    color: $mainColour;
    
    h1 {
        font-family: 'Diplomata SC', cursive;
        font-weight: normal;
        font-size: 25px;
        word-spacing: 9px;
      
    }
    .and {
        font-size: 15px;
    }

    h2 {
        font-family: 'Sail', cursive;
        font-size: 25px;
        letter-spacing: 3px;
        padding-top: 20px;
        font-weight: normal;
    }
    .headercontent {
        text-align: center;
        
    }
}

.headerimage {
    stroke: $mainColour;
    fill: $mainColour;
}

.headercontent h1 {
    padding-top: 50px;
}

.madgrim {
    font-size: 40px;
    font-family: 'Sail', cursive;
}

.kittenheader{
    font-size: 35px;
    font-family: 'Diplomata SC', cursive;
    
}

.smallheader {
    border: 3px solid mediumvioletred;
}