

header {
    margin: 0 auto;
    position: relative;
    color: $mainColour;
    
    h1 {
    font-family: 'Mate SC', serif;
    font-weight: normal;
    font-size: 45px;
    word-spacing: 9px;
      
    }
    .and {
    font-size: 15px;
    padding: 0;
    margin: 0;
    padding-top: -100px;
    }

    h2 {
    font-family: 'Mate SC', serif;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: normal;
    }
    .headercontent {
        text-align: center;
        
    }
}

.headerimage {
    stroke: $mainColour;
    fill: $mainColour;
    opacity: .7;
}

.headercontent{
    margin-top: 30px;
}

.mg {
    font-size: 40px;
}

.madgrim {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.kittenheader{
    font-size: 50px;
}

