.results {
    // border: 3px solid $mainColour;
    background: lighten($backgroundColour, 40);
    border-radius: 5px;
    border: 1px solid $mainColour;
    border-style: double;
    border-width: 8px;
    padding: 10px;
    color: $backgroundColour;
}


.questionflex {
    display: flex;
     justify-content: center;
     margin: 0 auto;
}

.questionBlockContainer {
    display: flex;
}

.questionblock {
    font-family: $copyFont;
    color: $mainColour;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-top: 100px;
    max-width: 800px;
    text-align: center;
}

.buttonflex {
    display: flex;
    flex-direction: column;
    align-content: center;
}

textarea {
    margin: 10px;
    background:  url("images/kittens/clementine2.svg");
    background-repeat: no-repeat;
    color: $mainColour;
    border-radius: 5px;
    padding: 20px 15px;
    border: 1px solid $mainColour;
    margin-bottom: 35px;
}

.askbutton {
    // width: 200px;
    // height: 100px;
    padding: 0px 35px;
    margin: 0 auto;
    line-height: 1;
    font-size: 35px;
    border-radius: 5px;
    // background-color: aqua;
    // border: $mainColour solid 5px;

    p {
        margin: 0;
        padding: 0;
    }

}

.question {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: $mainColour;
}

.prediction {
    margin: 30px 10px 0;
    text-align: right;
    font-size: 20px;
    max-width: 300px;
}

.prediction-1, .prediction-2 {
    background-image: url("images/kittens/clementine.svg");
        &:before {
            content:"soothsayer clementine says";
        } 
        
}



.prediction-3, .prediction-4 {
    background-image: url("images/kittens/clementine2.svg")
}

.prediction-5, .prediction-6{
    background-image: url("images/kittens/hortense.svg")
}

.prediction-7, .prediction-8 {
    // background-image: url("images/kittens/olivia.svg");
    font-family: 'Seaweed Script', cursive;
    font-size: 28px;
    padding-bottom: 30px;
}

.prediction-7::before, .prediction-8::before {
    content: "soothsayer olivia says:";
    font-family: $copyFont;
    font-size: 16px;
}

.prediction-7::after, .prediction-8::after {
    content: url("images/kittens/olivia.svg");
}

.prediction-9, .prediction-10 {
    background-image: url("images/kittens/hortense2.svg");
}

.prediction-11 {
    background-image: url("images/kittens/olivia2.svg");
}

.prediction-13 {
    background-image: url("images/kittens/mabel.svg");
}

.prediction-14 {
    background-image: url("images/kittens/sophronia.svg");
    font-family: 'Miniver', cursive;
}

.prediction-14::before {
    content:"soothsayer sophronia says:";
    display: inline-block;
    font-family: $copyFont;
}

.prediction-12 {
    background-image: url("images/kittens/sophronia2.svg");
}

.askagain {
    background: mediumvioletred;
}
