.wouldyou {
    display: flex;
    justify-content: center;    
    font-family: $copyFont;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    h3 {
        width: 400px;
        border: 1px solid $mainColour;
        background: lighten($backgroundColour, 30);
        font-weight: normal;
        padding: 20px 10px;
        border-radius: 5px;
        margin-top: 50px;
    }

    a {
        color: $mainColour;
        display: flex;
        text-align: center;
    }
}

@media (max-width: 460px) {
    .wouldyou h3 {
        padding: 10px 0px;
        width: 200px;
        font-size: 14px;
        word-spacing: 1px;
    }
}


