@import "normalize";
@import "variables";
@import "header";
@import "questionbutton";
@import "questionblock";
// @import "results";
@import "footer";


h1, h2 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}    

body {
    background-color: $backgroundColour;
}

#hiddenarea {
    display: none;
    margin: 0 auto;
    text-align: center;

}

.hidden {
    display: none;
    text-align: center;
    margin: 0 auto;
}



